@font-face {
    font-family: OpenSans;
    src: url(Font/Open%20Sans/OpenSans-Semibold.ttf);
    font-weight: 400;
}
body {
    font-family: OpenSans, Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}
.sidenav{
    background-color: white;
    width: 100px;
    padding: 20px;
}
.navbar{
    background-color: #ffffff;
    margin-bottom: -1px;
}

.logoImage{
    width: 80%;
    padding: 5px;
}
.sidenav ul{
    margin-left: -40px;
    float: none;
    display: block;
}
.sideIcons{
    padding-top: 10px;

}
.icon-question {
    background-image: url("../../images/icon_question.png");
    background-position: center center;
}

.btn-circle{
    border-radius: 25px;
    background-color: #ffffff;

}

.btn-question{
    margin-top: 10px;
    float: right;
    position: absolute;
    right: 10px;
    width: 36px;
}

.btn-dropdown{
    border-radius: 25px;
    background-color: #ffffff;
    display: inline-block;
}

.continueButton{
    color: white;
    background-color: #65e0e4;
    /*margin-left: 35%;*/

}
.continueButton:hover{
    color: gray;
    background-color: #65e0e4;
}
.stepIcon {
    width: 45px;
    margin: 2px;
    margin-bottom: 20px;
}
.rightIcon {
    width: 45px;
    margin-right: 30px;
}
.iconCaption{
    display: inline-block;
    margin-right: 12px;
    margin-top:10px;
}
.iconCaption h6{
    margin-top:0;
    margin-bottom:0;
}
.steps{
    padding-top: 2px;
}
.sidenav li{
    padding: 15%;
    float: none;
    display: block;
}

.sidenav span{
    display: block;
}
.sidenavIcons{
    width: 100%;
    padding-bottom: 3px;
}
.sidenav ul a:hover{
    color: #65e0e4;
    text-decoration: none;
}
.sidenav ul a{
    text-align: center;
    color: gray;
    text-decoration: none;
}
.filmstrip-thumbs{
    background-color: white;
    width: 100%;
}
.bottomStrip{
    width: 100%;
    display: inline-block;
}

.mainCanvas{
    width: calc(100vw - 120px);
    margin-left: 100px;
    height: calc(100vh - 214px);
}

.filmstrip-top{
    height: 100%;
}

.picDropdown{
    display: inline-block;
    /*position: absolute;*/
    bottom: 0px;
    float: left;
}

.picDropdown div{
    display: inline-block;
}

.dimInfo{
    margin-bottom: 0px;
    bottom: 0px;
    right: 0px;
    display: inline-block;
    /*position: absolute;*/
}

.dimInfo div{
    display: inline-block;
}



